<!DOCTYPE html> 
<html> 
	<head>
    	<meta charset="utf-8" />
   	 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<title>{% block title %}Title{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/style.css" rel="stylesheet">
	</head> 
	
	<body>
		<div class="row main-row">
			<div class="col-md-4">
				
			</div>
			<div class="col-md-4">
				<div class="content">
					<h2>Railway Barrier</h2>
					<hr>
					<div class="row pt-4">
						<div class="col-12 row">
							<div class="col-6">
								<h4>Status :</h4>
							</div>
							<div class="col-6">
								<h4>Open</h4>
							</div>
						</div>
						
						<hr>

						<div class="col-12  pt-4">
							<h6>Action :</h6>
						</div>
						<br>
						<div class="col-12 pt-3">
							<button type="button" class="btn btn-success btn-lg btn-block">Open</button>
						</div>
						<br>
						<div class="col-12 pt-3">
							<button type="button" class="btn btn-danger btn-lg btn-block">Close</button>
						</div>
						<div class="col-12 pt-4">
							<h6>Kelompok :</h6>
							bit.ly/MintaDuidDONG!!!
							<br>
							<br>
							<h6>Member :</h6>
							Aryo Tinulardhi - 1706039515
							<br>
							Gusti Ngurah Yama Adi Putra - 1706979253
							<br>
							Luqman Iffan Windrawan - 1606876020
							<br>
							Millenio Ramadizsa - 1706040063
							<br>
							Rafif Taris - 1706979436
							<br>
							Raihansyah Attallah Andrian - 1706040196

						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">

			</div>
		</div>
	</body> 
</html>
